---
import BaseLayout from "@components/base/BaseLayout.astro";
import BlogCard from "@components/blog/Card.astro";
import Pagination from "@components/common/Pagination.astro";
import PageHeader from "@components/common/PageHeader.astro";
import BlogSidebar from "@components/blog/Sidebar.astro";
import type { SanityPostListItem } from "@lib/sanity";

interface Props {
  title: string;
  description?: string;
  entries: SanityPostListItem[];
  categories: string[];
  allCategories: string[];
  pageIndex: number;
  pageCount: number;
}

const {
  title,
  description,
  entries,
  categories,
  allCategories,
  pageIndex,
  pageCount,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <div
        class="grid w-full gap-4 lg:grid-cols-[minmax(0,1fr)_180px] xl:grid-cols-[minmax(0,1fr)_200px]"
      >
        <!-- blog posts -->
        <div>
          {
            entries.length > 0 ? (
              entries.map((entry) => (
                <div class="mb-4">
                  <BlogCard entry={entry} />
                </div>
              ))
            ) : (
              <div class="glass rounded-lg p-4 m-2">
                <p>No posts have been published yet.</p>
              </div>
            )
          }
          <Pagination
            collection="blog"
            pageIndex={pageIndex}
            pageCount={pageCount}
          />
        </div>
        <!-- sidebar -->
        <div
          class="hidden lg:block max-h-static_sidemenu sticky p-0 top-[4rem]"
        >
          <BlogSidebar categories={categories} allCategories={allCategories} />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
